fastapi
uvicorn

#for template
jinja2

#for static files
aiofiles

#for database   #new
sqlalchemy         
psycopg2-binary # replacing-> psycopg2

#for loading environment variables 
python-dotenv

#for email validation            #new
pydantic[email] 

# documentation with sphinx
# sphinx
sphinx
sphinx-rtd-theme
sphinxcontrib-ansibleautodoc
sphinxcontrib-websupport